# OpenMS Streamlit template
workspaces-streamlit-template
build
myenv
build.log
run_app.spec
clean-up-workspaces.log

# FLASHApp
workspaces
Pipfile
workspaces-flashtaggerviewer

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Temp files
**/__pycache__
.DS_Store

